
/*Arimo*/
@import url('https://fonts.googleapis.com/css?family=Arimo');
/*Source sans pro*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.hidden.menu {
    display: none;
}
.hidden.chat-box
{
    display: none;
}
.masthead.segment {
    background:#14181D !important;
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}
.ui.form .field.error input[type="text"] {
    background: #fff6f6;
    border-color: #ff0900;
    color: #622726;
    border-radius: '';
    box-shadow: none;
}
.whiteboard
{
    background:url('../images/math-background.png');
    height:100%;
    width:100%;
}
.left-text
{
    text-align:left !important;
}
/*.square {*/
    /*height: 20px;*/
    /*width: 20px;*/
    /*background-color: #FF0099;*/
/*}*/
.left-floated
{
    float:left;
}
#square
{
    font-size: 28px !important;
}
.whiteboard:hover
{
    backgrouns-size:32px;
    cursor: url(../images/pencil.png), auto;
    /*cursor:crosshair; */
}
/*.circle {*/
    /*height: 20px;*/
    /*width: 20px;*/
    /*background-color: #FF0099;*/
    /*border-radius: 50%;*/
/*}*/
#circle
{
    font-size:28px !important;
}
.rectangle {
    height: 15px;
    width: 30px;
    background-color: #FF0099;
}
.parallelogram {
    width: 30px;
    height: 15px;
    transform: skew(20deg);
    background: #FF0099;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FF0099;
}
.right-triangle
{
    width: 0;
    height: 0;
    border-bottom: 25px solid #FF0099;
    border-right: 13px solid transparent;
}
.icon.pencil
{
    width:20px !important;
    height:20px !important;
    vertical-align:bottom;
}
.graph-icon
{
}
.room-cover
{
    background-color:#ffffff;
}
.room-key
{
    width:450px;
    margin:0 auto;
}
.tools
{
    background-color:#f0f0f0;
    float:left;
    width:50px;
    height:auto;
    margin-top: 30px;
    /*border:1px solid #ddd;*/
    /*border-radius: 5px;*/
    /*margin-left: 10px;*/
    cursor:pointer;

}
.thickness-value
{
    text-align: center; margin-top: 8px;
}
.thickness-slider {
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-right: 40px;
    float: right;
    /* z-index: 999; */
    position: absolute;
    right: 0;
}
.tools:hover
{
    cursor:pointer;
}
.tools-list
{
    padding:10px;
    width:100%;
    display: inline;
}
li
{
    list-style:none;
}
.tools-item:first-child
{
    margin-top:-10px;
}
.tools-item
{
    cursor:pointer;
    margin-top:10px;
    position:relative;
    border-radius:8px;
    margin-left: 7px;
}
.tools-select
{
    width:40px;
    height:40px;
}
.tools-image
{
    -webkit-filter: blur(0px);
    max-width:40px;
    max-height:40px;
}
.tools-options
{
    display: block;
    position: absolute;
    top: -12px;
    left: 54px;
    border-radius: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px;
    white-space: nowrap;
    z-index: 100;
}
.tools-options-list
{
    width:100%;
    padding: 7px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:4 row;
    flex-direction: row;
    margin: 0 -2px;
    position: relative;
}
.tool-selected
{
    background-color: #ddd !important;
}
.dashboard
{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    /*background-color: #f0f0f0;*/
}
.drawing
{
    font-size: 20px;
    color:green;
    font-family: Verdana;
}
ul.dashboard-items
{
    padding-top: 5px;

    width:100%;
    list-style:none;
}
li.dashboard-item:first-child
{
    margin-left:10px;
}
li.dashboard-item
{
    margin-right:10px;
    display:inline-block    ;
}
/*canvas.board*/
/*{*/
    /*position:absolute;*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/
/*Overrides fabric js html for the container.*/
.canvas-container
{
    position:absolute !important;
    width:100% !important;
    height:100% !important;
}
canvas {
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
body.room-join
{
background:linear-gradient( rgba(143, 143, 143, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/background.png) no-repeat center center fixed;
}
.tool-icon
{
    font-size: 22px !important;
    width:40px !important;
    height:40px !important;
    text-align: center;
    position: relative;
    top: calc(50% - 10px);
}
.popover {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1060;
    display: block;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.popover-content
{
    padding: 9px 14px;
}
ul.popover-list
{
    width: 100%;
    padding-left: 0;
}
.popover-item
{
    width:30px;
    /*margin-bottom: 7px;*/
}
.popover-item-selected
{
    border:1px solid #6bba6be6;
}
.circular
{
    margin-left: 2px !important;
    /*padding: 2px !important;*/
    margin-top: 3px !important;
}
/*ul.popover-list*/
/*{*/
    /*display:inline-block;*/
/*}*/
/*.popover-item*/
/*{*/
    /*float:left;*/
    /*width:40px;*/
/*}*/
#popover-list li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#calculator {
    width: 350px;
    height: 320px;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    bottom: 60px;
}
#display {
    width: 320px;
    height: 40px;
    text-align: right;
    background-color: black;
    border: 3px solid white;
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #7fff00;
}
.btnTop {
    color: #c6e4a7;
    background-color: #e44444;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #dedede;
}
.btnNum {
    color: #c8c8c8;
    background-color: #1B1C1D;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #dedede;
}
.btnMath {
    color: white;
    background-color: #35c6ff;
    font-size: 14px;
    width: 50px;
    height: 25px;
    border: 1px solid #b6c1c8;
}
.btnOpps {
    color: white;
    background-color: #95c043;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #8bcf5c;
}
.trigonometric_function {
    color: white;
    background-color: #35c6ff;
    font-size: 14px;
    width: 50px;
    height: 25px;
    border: 1px solid #b6c1c8;
}
.absolute_value
{
    color: white;
    background-color: #35c6ff;
    font-size: 14px;
    width: 50px;
    height: 25px;
    border: 1px solid #b6c1c8;
}
.log
{
    color: white;
    background-color: #95c043;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #8bcf5c;
}
.round
{
    color: white;
    background-color: #95c043;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #8bcf5c;
}
.exponentiation
{
    color: white;
    background-color: #95c043;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #8bcf5c;
}
.sqrt
{
    color: white;
    background-color: #95c043;
    font-size: 14px;`
    margin: auto;
    width: 50px;
    height: 25px;
    border: 1px solid #8bcf5c;
}
.tool-icon > input {
    width:40px;
    height:40px;
    cursor:pointer;
    position: absolute;
    opacity: 0;
    top: -5px;
    right: 0;
    left: 0;
}
.output
{
    display:inline-block;
    font-size:25px;
}
#plot
{
    width: 550px;
    height: 350px;
}
#hover-options
{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:20;
}
.show
{
    display:block !important;
}
.login-body
{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #a6c8ed !important;
    background-image: linear-gradient(165deg,#386799 0,#20353b) !important;
    padding-top: 100px;
}
.signup-body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #a6c8ed !important;
    background-image: linear-gradient(90deg,#0d3968 0,#41a9c8) !important;
    padding-top: 100px;
}
.ui.message
{
    font-family: 'Arimo', sans-serif;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em !important;
}
/*Override html2canvas container*/
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
@media only screen and (max-width: 768px) {

}
.chat-box {
    display: none;
    background-color: #fafafa;
    border: 1px solid #dedede;
    /*bottom: 0;*/
    display: block;
    height: 380px;
    position: absolute;
    /*right: 70px;*/
    width: 350px;
    top: -380px;

    right: 30px;
}

.chat-box .chat-box-head {
    background-color: #fafafa;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    padding: 7px 10px;
    width: 100%;
    border-bottom: 1px solid #dedede;
}
.chat-box .chat-box-messages
{
    height: 275px;
    overflow: auto;
    border-bottom: 1px solid #dedede;


}
.chat-box .chat-box-send{
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 65px;
}
.direct-msg
{
    margin-right: 15px;
}
.messages-list
{
    -ms-word-break: break-all;
    word-break: break-all;
    padding:5px !important;
}
.author
{
    color:#7b7b7b;
    font-family: "Open Sans";
}
/*form.chat-send*/
/*{*/
    /*height: 65px;*/
/*}*/
.chat-box-send > textarea {
    /* border-bottom: 1px solid #b2b2b2 !important; */
    height: 50px !important;
    margin: 7px;
    padding: 5px !important;
    border: medium none;
    width: 95% !important;
}
.header
{
    font-family: 'Source Sans Pro',sans-serif !important;
    font-weight: 900 !important;
}
.introduction
{
}
.introduction.masthead
{
    background-color: #012852 !important;
    background-image: linear-gradient(165deg,#012852 0,#1b505d) !important;
}
.introduction-menu
{
    border:none !important;
}
.introduction-header
{
    font-family: 'Source Sans Pro',sans-serif !important;
    font-weight: bolder !important;
}
.zoom-in
{
    transform: scale(1.5);
    transform-origin: 50% 0;
    margin-bottom: 300px;
}
/*background-color: #012852;*/
/*background-image: linear-gradient(165deg,#012852 0,#1b505d);*/